.modal-header
  h4
    | Add multiple keywords
.modal-body
  .form-group
    textarea.form-control(rows="7" ng-model="keywordItems")

.modal-footer
  span.pull-left
    b
      | Format:
    |  Keyword name

    br
    small
      |  (one item per line)

  button.btn.btn-primary(ng-click="add()")
    | Add
  button.btn.btn-warning(ng-click="cancel()")
    | Cancel

