.container
  .row
    table.table.table-striped(ng-show="workareas.length > 0")
        thead
          tr
            th Site URL
            th
              button.btn.btn-sm.btn-success(style="float: right;" ui-sref="root.workArea.navigation")
                | Add new workarea
        tbody
          tr.animate-repeat(ng-repeat="wa in workareas")
            td
              a(ui-sref="root.workArea.navigation({workAreaId: wa.hash_id})")
                | {{ wa.site_url }}
            td.col-md-2
              i.fa.fa-remove(ng-click="delete(wa, $index)")
                span(ng-show="wa.deleting")
                  | &nbsp; Deleting

  .row.new-workarea(ng-show="root.workareas.length <= 0")
    button.btn.btn-primary(ui-sref="root.workArea.navigation")
      | Create workarea


