.col-md-12.preview
  div(ng-switch="helpSection")
    div(ng-switch-when="heading")
      h2
        | Rubriker

      ul
        li
          | 2-4 sekunder, kommer en besökare att se din rubrik
        li
          | Kort, relevant och intresseväckande.
        li
          | En rubrik måste fungera helt utanför sitt sammanhang
        li
          | Överdriv inte, det kommer slå tillbaka, var ärlig

    div(ng-switch-when="preamble")
      h2
        | Ingress

      ul
        li
          | 200 - 300 tecken
        li
          | Sammanfattning av vad sidan vill förmedla

    div(ng-switch-when="caption")
      h2
        | Underrubriker

      ul
        li
          | Ange fördelarna med produkten / tjänsten
        li
          | Ange de viktigaste sökorden tidigt

    div(ng-switch-when="link")
      h2
        | Länkar

      ul
        li
          | Använd länkar för highlighta viktigaste sökord eller fördelar

    div(ng-switch-when="bulletpoints")
      h2
        | Punktlistor

      ul
        li
          | Använd länkar för highlighta viktigaste sökord eller fördelar

    div(ng-switch-when="bold")
      h2
        | Fetstilt

      ul
        li
          | Använd länkar för highlighta viktigaste sökord eller fördelar




