a(ng-click="setActiveNode(node)"
  ng-class="{ 'active' : node === activeNode }")
  | {{ node.name }}
  i.fa.pull-right(ng-click="toggle(node, node.children); $event.stopPropagation();"
                  ng-show="node.children.length > 0"
                  ng-class="{'fa-toggle-down': node.active, 'fa-toggle-right': !node.active}")

ul.nav.nav-pills.nav-stacked.child-nav(ng-model="node.children" ng-show="node.active")
  li(ng-repeat="node in node.children"
     ng-include="'js/components/workArea/preview/previewPage/previewPageItem.jade'")
