.row
  preview-area
    preview-section
      h1.primary-keyword
        | {{ node.name }}
    preview-question
      h1
        i.fa.fa-question-circle(ng-mouseover="previewCtrl.setHelpSection('heading')")

.row
  preview-area
    preview-section
      p
        strong
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit #[span.primary-keyword {{ node.name | lowercase }}]
          | &nbsp; etiam eget imperdiet augue. Praesent aliquet mi ut enim interdum, vitae accumsan quam iaculis volutpat.
    preview-question
      p
        i.fa.fa-question-circle(ng-mouseover="previewCtrl.setHelpSection('preamble')")

.row
  preview-area
    preview-section
      h3
        | Caption about #[span.primary-keyword {{ node.name | lowercase }}]
    preview-question
      h3
        i.fa.fa-question-circle(ng-mouseover="previewCtrl.setHelpSection('caption')")

.row
  preview-area
    preview-section
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget imperdiet augue. Praesent aliquet mi ut enim interdum,
        | &nbsp;
        a(href="#")
          | use links to highlight #[span.secondary-keyword {{ node.name | lowercase }}]
        | &nbsp;
        | vitae accumsan quam iaculis volutpat.
    preview-question
      p
        i.fa.fa-question-circle(ng-mouseover="previewCtrl.setHelpSection('link')")

.row
  preview-area
    preview-section
      p
        ul
          li
            | #[span.secondary-keyword {{ node.name | lowercase }}] is a category
          li
            | Bullet lists are great for highlight keywords i.e. #[span.secondary-keyword {{ node.name | lowercase }}]
          li
            | Some other random fact
    preview-question
      p
        i.fa.fa-question-circle(ng-mouseover="previewCtrl.setHelpSection('bulletpoints')")

.row
  .col-md-10
    h3
      | The #[span.secondary-keyword {{ node.name | lowercase }}]

.row
  preview-area
    preview-section
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget imperdiet augue. Praesent aliquet mi ut enim interdum,
        | &nbsp;
        strong
          | use bold to highlight #[span.secondary-keyword {{ node.name | lowercase }}]
        | &nbsp;
        | vitae accumsan quam iaculis volutpat.
    preview-question
      p
        i.fa.fa-question-circle(ng-mouseover="previewCtrl.setHelpSection('bold')")
