nav.navbar.navbar-default.navbar-custom(role="navigation" style="padding-top: 7px; height: 59px;")
  .container-fluid(ng-controller="navbarController as ctrl")
    .navbar-header.col-md-12.text-center
      a(ui-sref="root" style="font-size: 30px;")
        span(style="color: #56AAF4")
          | Have
        span(style="color: #00B500; margin: 4px;")
          | you
        span(style="color: #56AAF4")
          | met
        span(style="color: #00B500; margin: 4px;")
          | me
